@model List<DboTour>
@if (Model != null)
{
	foreach (var item in Model)
	{
		<tr>
			<td class="">
				<div class="room-list-bx d-flex align-items-center">
					<img class="text-nowrap" src="images/room/room4.jpg" alt="">

				</div>
			</td>
			<td>
				<span class=" text-secondary fs-14 d-block ">@item.TourId</span>
				<span class=" fs-16 font-w500 ">@item.TourName</span>
			</td>
			<td class="">
				<span class="fs-16 font-w500 ">@item.ShortDesc</span>
			</td>
			<td class="">
				<span class="fs-16 font-w500 ">@item.Seats</span>
			</td>
			<td class="">
				<span class="fs-16 font-w500 ">@item.Amount</span>
			</td>
			<td class="">
				<span class="fs-16 font-w500 ">@item.Duration<small class="fs-14 ms-2">Hours</small></span>
			</td>
			<td>
				<div class="">

					<span class="font-w500">@item.Price<small class="fs-14 ms-2">VNĐ/Tour</small></span>
				</div>
			</td>


			<td>
				<a href="javascript:void(0);" class="btn btn-success btn-md">ACTIVE</a>
			</td>
			<td class="py-2 text-end">
				<div class="dropdown text-sans-serif">
					<button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
					<div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0">

						<a type="button" class="dropdown-item far fa-eye" asp-area="Admin" asp-controller="AdminDboTours" asp-action="Details" asp-route-id="@item.TourId"> View</a>
						<a type="button" class="dropdown-item fas fa-edit" asp-area="Admin" asp-controller="AdminDboTours" asp-action="Edit" asp-route-id="@item.TourId"> Edit</a>
						<a type="button" class="dropdown-item text-danger far fa-trash-alt" asp-area="Admin" asp-controller="AdminDboTours" asp-action="Delete" asp-route-id="@item.TourId"> Delete</a>
					</div>
				</div>
			</td>
		</tr>
	}

}