@model TravelFinalProject.Models.DboHotel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit Page: @Model.HotelName</h4>
            </div>
           
            <div class="card-body">
                <div class="row">
                <div class="form-validation">
                    <form asp-controller="AdminDboHotels" asp-action="Edit" asp-route-id="@Model.HotelId" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="HotelId" />
                        <input type="hidden" asp-for="Picture" />
                       
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="HotelName" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="HotelName" class="form-control" />
                                        <span asp-validation-for="HotelName" class="text-danger"></span>
                                    </div>
                                </div>



                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="ShortDesc" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="ShortDesc" class="form-control" />
                                        <span asp-validation-for="ShortDesc" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Address" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Rate" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Rate" class="form-control" />
                                        <span asp-validation-for="Rate" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="CatHotelId" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="CatHotelId" class="form-control" />
                                        <span asp-validation-for="CatHotelId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="MetaDesc" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="MetaDesc" class="form-control" />
                                        <span asp-validation-for="MetaDesc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="MetaKey" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="MetaKey" class="form-control" />
                                        <span asp-validation-for="MetaKey" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Alias" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Alias" class="form-control" />
                                        <span asp-validation-for="Alias" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Video" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Video" class="form-control" />
                                        <span asp-validation-for="Video" class="text-danger"></span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-xl-6">

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Price" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Discount" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Discount" class="form-control" />
                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                    </div>
                                </div>
                               
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Tags" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Tags" class="form-control" />
                                        <span asp-validation-for="Tags" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Title" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="Bed" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Bed" class="form-control" />
                                        <span asp-validation-for="Bed" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="UnitslnStock" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="UnitslnStock" class="form-control" />
                                        <span asp-validation-for="UnitslnStock" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="DateCreated" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="DateCreated" class="form-control" />
                                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" asp-for="DateModified" class="control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="DateModified" class="form-control" />
                                        <span asp-validation-for="DateModified" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row" style="display:flex; flex-direction: row">

                                    <label class="col-lg-4 col-form-label" asp-for="Picture" class="control-label"></label>
                                    <div class=" col-lg-6 ">
                                        <div class="form-file">
                                            <input asp-for="Picture" type="file" class="form-file-input form-control">
                                            <span asp-validation-for="Picture" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group form-check">
                                    <label class="col-lg-3 form-check-label">
                                        <input class="form-check-input" asp-for="BestSellers" /> @Html.DisplayNameFor(model => model.BestSellers)
                                    </label>
                                    <label class="col-lg-3 form-check-label">
                                        <input class="form-check-input" asp-for="HomeFlag" /> @Html.DisplayNameFor(model => model.HomeFlag)
                                    </label>
                                    <label class="col-lg-3 form-check-label">
                                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                    </label>
                                </div>

                            </div>

                            <div class="mb-3 row">
                                <label class="col-lg-12 col-form-label" asp-for="Description" class="control-label"></label>
                                <div class="col-lg-12">
                                    <textarea asp-for="Description" class="form-control" id="comment"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-md-flex m-b-15 align-items-center justify-content-center">
                                <div class="m-b-15">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                        <span class="btn-icon-end">Save Changes</span>
                                    </button>
                                </div>
                            </div>

                    
                    </form>

                    </div>

                </div>
            </div>
            <div>
                <div class="row">
                    <div class="ms-auto">
                        <a asp-action="Index">| Back to List |</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>